doctype html
html
    head
        title Credit Card Payment
        meta(name='viewport', content='initial-scale=1')
        link(rel='stylesheet', href='/static/card.css')
        link(rel='stylesheet', href='/static/style.css')
    body
        .demo-container(style='width: 80%')
            h1 Make Payment
            .card-wrapper
            .form-container.active
                form(action='/pay', method='post')
                    input(type='hidden', name='reference', value=reference)
                    input(placeholder='Card Number', type='text', name='number', value='4242424242424242')
                    input(placeholder='First Name', type='text', name='first_name')
                    input(placeholder='Last Name', type='text', name='last_name')
                    input(placeholder='MM/YY', type='text', name='expiry')
                    input(placeholder='Security Code', type='text', name='cvv', value='962')
                    input(placeholder='KE', type='text', name='country')
                    input(placeholder='254', type='text', name='country_code')
                    input(placeholder='71xxxxxxx', type='text', name='phone')
                    input(placeholder='dummy@dummy.com', type='email', name='email')
                    input(type='submit', class='button', value='Pay')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='/static/card.js')