doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title=message
        link(rel='stylesheet', href='/static/style.css')
    body
        .demo-container(style='width: 50%; text-align:center')
            h1=message
            pre(style='width: 100%; text-align:left; display:block')=details
            pre(style='width: 100%; text-align:left; display:block')=error